.mobile-menu-btn {
  width: 28px;
  height: 28px;
  border: 0;
  padding: 0;

  background-color: transparent;
  color: var(--primary-text-color);
  stroke: currentColor;
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }

  @include transition(color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation__link > .mobile-menu-btn__icon {
  fill: currentColor;
}

.js-mobile-menu-close {
  display: none;
}

.js-mobile-menu-btn.is-open .js-mobile-menu-close {
  display: block;
}

.js-mobile-menu-btn.is-open .js-mobile-menu-open {
  display: none;
}

.js-mobile-menu-btn {
  // display: inline-block;
  // width: 1em;
  // height: 1em;
  // stroke-width: 0;
  // stroke: currentColor;
  // fill: currentColor;
}
