.log-out-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 118px;
  padding: 14px 24px;

  background: $primary-white;
  border: 1.5px solid $primary-black;
  border-radius: 18px;
  cursor: pointer;
}

.log-out-btn__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: $primary-black;
}
