.user-bar-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 184px;
  padding: 4px 12px;

  background: $accent-color;
  border: 0;
  border-radius: 36px;
  cursor: pointer;
}

.user-bar-btn__avatar-icon {
  margin-right: 9px;
}

.user-bar-btn__text {
  margin-right: 4px;

  font-weight: 700;
  font-size: 22px;
  line-height: calc(29 / 22);
  letter-spacing: -0.02em;
  color: $primary-white;
}
