// Transitions
@mixin transition($property...) {
  transition-property: $property;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}

// Fonts
@mixin fonts(
  $fs: false,
  $lh: false,
  $fw: false,
  $ls: 0.1em,
  $tt: false,
  $clr: false
) {
  @if $fs {
    font-size: $fs;
  }
  @if $lh {
    line-height: calc($lh / $fs);
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $ls {
    letter-spacing: $ls;
  }
  @if $tt {
    text-transform: $tt;
  }
  @if $clr {
    color: $clr;
  }
}
