:root {
  --header-bg-color: #ffffff;
  --primary-text-color: #111111;
  --body-bg-color: #f6f6f6;
  --categories-links-active-color: #4f2ee8;
  --categories-links-color: rgba(17, 17, 17, 0.6);
  --categories-scroll-bar: #e0e0e0;
  --pop-up-bg-color: #ffffff;
  --scrollbar-bg-color: #e0e0e0;
  --scrollbar-hower-bg-color: #d2d2d2;
  --autorization-modal-border-color: #111111;
  --autorization-form-btn-text-color: #f3f3f3;
  --autorization-links-color: rgba(17, 17, 17, 0.5);
  --shopping-list-text-color: rgba(0, 0, 0, 0.6);
}

:root.dark {
  --header-bg-color: #111111;
  --primary-text-color: #ffffff;
  --body-bg-color: #202024;
  --categories-links-active-color: #eac645;
  --categories-links-color: rgba(255, 255, 255, 0.6);
  --categories-scroll-bar: rgba(17, 17, 17, 0.6);
  --pop-up-bg-color: #202024;
  --scrollbar-bg-color: #11111199;
  --scrollbar-hower-bg-color: #111111;
  --autorization-modal-border-color: #f6f6f6;
  --autorization-form-btn-text-color: #202024;
  --autorization-links-color: rgba(246, 246, 246, 0.5);
  --shopping-list-text-color: rgba(0, 0, 0, 0.6);
}
