:root {
  --header-bg-color: #ffffff;
  --primary-text-color: #111111;
  --body-bg-color: #f6f6f6;
  --categories-links-active-color: #4f2ee8;
  --categories-links-color: rgba(17, 17, 17, 0.6);
  --categories-scroll-bar: #e0e0e0;
  --pop-up-bg-color: #ffffff;
}

:root.dark {
  --header-bg-color: #111111;
  --primary-text-color: #ffffff;
  --body-bg-color: #202024;
  --categories-links-active-color: #eac645;
  --categories-links-color: rgba(255, 255, 255, 0.6);
  --categories-scroll-bar: rgba(17, 17, 17, 0.6);
  --pop-up-bg-color: #202024;
}
