<section class="BookCard">
  <div class="container">
    <h2 class="BookCardTitle">
      Best Sellers <span class="BookCardFilter">Books</span>
    </h2>
    <!-- BookCategoryText є виключно у розділі "Всі категорії"!!! -->
    <p class="BookCategoryText">Combined Print and E-Book Fiction</p>
    <ul class="BookList">
      <li class="BookItem">
        <a class="BookLink" href="#">
          <div class="BookCardOverlay">
            <img
              class="BookImage"
              src="./images/book_mobile.jpg"
              alt="Here must be book's name"
            />
            <div class="BookOverlay">
              <p class="QuickViewText">quick view</p>
            </div>
          </div>
        </a>
        <div class="BookWrap">
          <p class="BookName">I will find you</p>
          <p class="BookAuthor">Harlan Coben</p>
        </div>
      </li>
    </ul>
    <button class="SeeMoreBtn" type="button">see more</button>
  </div>
</section>
