<!-- MAIN CONTENT -->
<main>
  <div class="container grid-container">
    <div class="sticky-elements">
      <!-- Replace or put in it content -->
      <div class="categories-wrap">
        <include src="./partials/categories.html"></include>
      </div>
      <!-- Replace or put in it content -->
      <div class="support-wrap">
        <include src="./partials/support.html"></include>
      </div>
    </div>

    <!-- Section for book content -->
    <section class="bookcase">
      <!-- Visible only for all categories render -->
    </section>
  </div>
</main>
