<!-- MAIN CONTENT -->
<main>
  <div class="container grid-container">
    <!-- Replace or put in it content -->
    <div class="categories-wrap">
      <include src="./partials/categories.html"></include>
    </div>
    <!-- Replace or put in it content -->
    <div class="support-wrap">
      <include src="./partials/support.html"></include>
    </div>
    <!-- Section for book content -->
    <section class="bookcase">
      <!-- Visible only for all categories render -->
      <h1 class="bookcase__cda">
        Best Sellers <span class="bookcase__filter">Books</span>
      </h1>
      <ul class="bookshelf__list js-bookshelf__list">
        <!-- Category 1 -->
        <li class="bookshelf__item">
          <!-- When category is chosen h2 gets styles of h1 -->
          <h2 class="bookshelf__title">Trade Fiction Paperback</h2>
          <!-- List of books in category -->
          <ul class="bookshelf__content book-card__list">
            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>
          </ul>
          <!-- Button to see more content in category -->
          <button class="bookshelf__btn" type="button">see more</button>

          <!-- Category 2 -->
        </li>

        <li class="bookshelf__item">
          <!-- When category is chosen gets styles of h1 -->
          <h2 class="bookshelf__title">Trade Fiction Paperback</h2>
          <!-- List of books in category -->
          <ul class="bookshelf__content book-card__list">
            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>
          </ul>
          <!-- Button to see more content in category -->
          <button class="bookshelf__btn" type="button">see more</button>

          <!-- Category 3 -->
        </li>

        <li class="bookshelf__item">
          <!-- When category is chosen gets styles of h1 -->
          <h2 class="bookshelf__title">Trade Fiction Paperback</h2>
          <!-- List of books in category -->
          <ul class="bookshelf__content book-card__list">
            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>
          </ul>
          <!-- Button to see more content in category -->
          <button class="bookshelf__btn" type="button">see more</button>

          <!-- Category 4 -->
        </li>

        <li class="bookshelf__item">
          <!-- When category is chosen gets styles of h1 -->
          <h2 class="bookshelf__title">Trade Fiction Paperback</h2>
          <!-- List of books in category -->
          <ul class="bookshelf__content book-card__list">
            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>

            <!-- Replace by render from js -->
            <include src="./partials/book-card.html"></include>
          </ul>
          <!-- Button to see more content in category -->
          <button class="bookshelf__btn" type="button">see more</button>

          <!-- Category 5 -->
        </li>

        <li class="bookshelf__item"></li>
        <li class="bookshelf__item"></li>
        <li class="bookshelf__item"></li>
        <li class="bookshelf__item"></li>
        <li class="bookshelf__item"></li>
        <li class="bookshelf__item"></li>
        <li class="bookshelf__item"></li>
      </ul>
    </section>
  </div>
</main>
