<!-- BOOK CARD -->
<!-- Temporary -> to change for render from js -->
<li class="book-card__item">
  <a class="book-card__link" href="#">
    <div class="book-card__wrapper">
      <img
        class="book-card__image"
        src="./images/book_mobile.jpg"
        alt="Here must be book's name"
      />
      <div class="book-card__overlay">
        <p class="book-card__quick-view-text">quick view</p>
      </div>
    </div>
  </a>
  <div class="book-card__wrap">
    <h3 class="book-card__name">I will find you</h3>
    <p class="book-card__author">Harlan Coben</p>
  </div>
</li>
