<div class="categories">
  <ul class="categories_list">
    <li class="categories_item">
      <a href="" class="categories_name categories_active">All categories</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Trade Fiction Paperback</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Hardcover Fiction</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Young Adult Paperback Monthly</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Middle Grade Paperback Monthly</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Young Adult Hardcover</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Combined Print and E-Book Fiction</a>
    </li>

    <li class="categories_item">
      <a href="" class="categories_name">Childrens Middle Grade Hardcover</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Business Books</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Series Books</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Hardcover Nonfiction</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Audio Fiction</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Graphic Books and Manga</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Advice How-To and Miscellaneous</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Picture Books</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name">Mass Market Monthly</a>
    </li>
    <li class="categories_item">
      <a href="" class="categories_name"
        >Combined Print and E-Book Nonfiction</a
      >
    </li>
    <a href="" class="categories_name">Audio Nonfiction</a>
    <li class="categories_item">
      <a href="" class="categories_name">Paperback Nonfiction</a>
    </li>
  </ul>
</div>
