<div class="container">
  <div class="categories">
    <ul class="categories__list">
      <li class="categories__item">
        <a href="" class="categories__name categories__active"
          >All categories</a
        >
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Trade Fiction Paperback</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Hardcover Fiction</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Young Adult Paperback Monthly</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Middle Grade Paperback Monthly</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Young Adult Hardcover</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name"
          >Combined Print and E-Book Fiction</a
        >
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Childrens Middle Grade Hardcover</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Business Books</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Series Books</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Hardcover Nonfiction</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Audio Fiction</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Graphic Books and Manga</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Advice How-To and Miscellaneous</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Picture Books</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Mass Market Monthly</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name"
          >Combined Print and E-Book Nonfiction</a
        >
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Audio Nonfiction</a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__name">Paperback Nonfiction</a>
      </li>
    </ul>
  </div>
</div>
