<footer class="footer">
  <div class="container footer__container">
    <div class="footer__block">
      <p class="footer__title">All our books can be found here:</p>
      <ul class="footer__company">
        <li class="footer__item">
          <a
            class="footer__link"
            href="https://www.amazon.com/books-used-books-textbooks/b/?ie=UTF8&node=283155&ref_=topnav_storetab_b"
            ><img
              width="70"
              src="./images/book-modal/amazon@2x.png"
              alt="Amazon"
          /></a>
        </li>
        <li class="footer__item">
          <a class="" href="https://www.apple.com/apple-books/"
            ><img width="45" src="./images/book-modal/apple@2x.png" alt="Apple"
          /></a>
        </li>
        <li class="footer__item">
          <a class="" href="https://bookshop.org/books"
            ><img
              width="45"
              src="./images/book-modal/book-shop@2x.png"
              alt="Book-shop"
          /></a>
        </li>
      </ul>
    </div>
    <p class="footer__rights">&#169; All rights reserved by our team</p>
  </div>
</footer>
