<header class="header">
  <div class="container header__container">
    <!-- Logo-->
    <a href="./" class="logo">
      <!-- Logo-light-->
      <svg class="js-logo-light-svg" width="83" height="28">
        <use href="./images/icons.svg#logo-light"></use>
      </svg>

      <!-- Logo-dark-->
      <svg class="js-logo-dark-svg visually-hidden" width="83" height="28">
        <use href="./images/icons.svg#logo-dark"></use>
      </svg>
    </a>

    <!-- Navigation -->
    <nav class="navigation visually-hidden">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link js-main-page-link" href="./">
            <span>Home</span>
          </a>
        </li>
        <li class="navigation__item">
          <a
            class="navigation__link navigation__link--with-icon js-list-page-link"
            href="./shopping-list.html"
          >
            <span>Shopping list</span>
            <svg class="mobile-menu-btn__icon" width="20" height="20">
              <use href="./images/icons.svg#cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!-- Color scheme toggle -->
    <fieldset class="switcher">
      <legend class="switcher__legend visually-hidden">Схема</legend>
      <input
        class="switcher__radio switcher__radio--light"
        data="light-color"
        type="radio"
        name="color-scheme"
        value="light"
        aria-label="Light color scheme"
        checked
      />
      <input
        class="switcher__radio switcher__radio--dark"
        data="dark-color"
        type="radio"
        name="color-scheme"
        value="dark"
        aria-label="Dark color scheme"
      />
      <div class="switcher__bg"></div>
      <div class="switcher__status"></div>
    </fieldset>
    <!-- Sign up btn -->
    <button class="sign-up-btn" type="button" data-modal-open>
      <span class="sign-up-btn__text">Sign up</span>
      <svg class="sign-up-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#golder-arrow-right"></use>
      </svg>
    </button>
    <!-- User bar-->
    <ul class="user-bar js-user-bar visually-hidden">
      <li class="user-bar__item">
        <!-- User-bar-btn -->
        <button class="user-bar-btn js-user-bar-btn" type="button">
          <svg class="user-bar-btn__avatar-icon" width="37" height="37">
            <use href="./images/icons.svg#user-ico"></use>
          </svg>
          <span class="user-bar-btn__text"></span>
          <svg class="user-bar-btn__arrow-icon" width="23" height="26">
            <use href="./images/icons.svg#user-caret-down"></use>
          </svg>
        </button>
        <ul class="dropdown">
          <li class="dropdown-list__item">
            <!-- Log-out-btn -->
            <button class="log-out-btn js-log-out-btn" type="button">
              <span class="log-out-btn__text">Log out</span>
              <svg class="log-out-btn__icon" width="20" height="20">
                <use href="./images/icons.svg#golder-arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Burger menu btn -->
    <button class="mobile-menu-btn js-mobile-menu-btn" type="button">
      <svg class="mobile-menu-btn__icon" width="28" height="28">
        <use class="js-mobile-menu-open" href="./images/icons.svg#burger"></use>
        <use
          class="js-mobile-menu-close"
          href="./images/icons.svg#close-btn"
        ></use>
      </svg>
    </button>
  </div>
</header>
