<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <svg width="83" height="28">
        <use href="./images/icons.svg#logo-light"></use>
      </svg>
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a
            class="navigation__link navigation__link--active"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="navigation__item">
          <a
            class="navigation__link navigation__link--active"
            href="./index.html"
            >Shopping list</a
          >
        </li>
      </ul>
    </nav>

    <fieldset class="switcher">
      <legend class="switcher__legend visually-hidden">Схема</legend>
      <input
        class="switcher__radio switcher__radio--light"
        type="radio"
        name="color-scheme"
        value="light"
        aria-label="Light color scheme"
        checked
      />
      <input
        class="switcher__radio switcher__radio--dark"
        type="radio"
        name="color-scheme"
        value="dark"
        aria-label="Dark color scheme"
      />
      <div class="switcher__bg"></div>
      <div class="switcher__status"></div>
    </fieldset>

    <button class="mobile-menu-btn">
      <svg width="28" height="28">
        <use href="./images/icons.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
