<div class="mobile-menu-wrapper">
  <div class="mobile__menu container">
    <button class="signup-btn js-signup-mobile-btn" type="button">
      <span class="signup-btn__text">Sign up</span>
      <svg class="signup-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#golder-arrow-right"></use>
      </svg>
    </button>
    <div class="user__container js-user-container display-none">
      <svg class="user__icon" width="37" height="37">
        <use href="./images/icons.svg#user-ico"></use>
      </svg>
      <p class="user__name js-user-mobile-name">Stephen</p>
    </div>
    <nav class="mobile__thumb js-mobile-thumb display-none">
      <ul>
        <li class="mobile__home-item">
          <a class="mobile__home js-main-page-link" href="./">Home</a>
        </li>
        <li class="mobile__home-item">
          <a
            class="mobile__shoplist js-list-page-link"
            href="./shopping-list.html"
            >Shopping list
            <svg class="shoplist__icon" width="20" height="20">
              <use href="./images/icons.svg#cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="mobile__overlay"></div>

    <button class="mobile__logout js-mobile-logout display-none" type="submit">
      Log out
      <svg class="logout__icon" width="20" height="20">
        <use href="./images/icons.svg#golder-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
