<div class="pop-up__backdrop is-hidden">
  <div class="modal__pop-up">
    <button class="pop-up__button__close" data-modal-close>
      <svg class="pop-up__icon-close" width="28" height="28">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>
    <div class="book-card__container"></div>
    <div class="btn__container">
      <button type="button" class="pop-up__add-btn js-add-to-local">
        Add to shopping list
        <!-- remove from the shopping list -->
      </button>
      <p class="pop-up__description">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
