<div id="modal " class="modal is-open modal__book__bacdrop" data-modal>
  <div class="pop-up">
    <img class="image" alt="" src="./images/book-modal/image1@2x.png" />
    <div class="book__information">
      <div class="text">
        <h2 class="book-name">HELLO BEAUTIFUL</h2>
        <p class="author">Ann Napolitano</p>
        <p class="annotation">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>

        <div class="links">
          <a href="" class="icon-link">
            <img
              class="amazon-icon"
              alt=""
              src="./images/book-modal/amazon@1x.png"
          /></a>
          <a href="" class="icon-link">
            <img
              class="book1-icon"
              alt=""
              src="./images/book-modal/apple@1x.png"
          /></a>
          <a href="" class="icon-link">
            <img
              class="book2-icon"
              alt=""
              src="./images/book-modal/book-shop@1x.png"
          /></a>
        </div>
      </div>

      <button type="button" class="btn" data-start>
        remove from the shopping list
      </button>
    </div>
    <div class="text-congratulationss">
      <b class="congratulations"
        >Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.</b
      >
    </div>
    <!-- <img class="x-close" alt="" src="./images/x-close.svg" /> -->
    <button class="x-close" id="popupxClose">
      <svg class="authorization__icon__close">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>
  </div>
</div>
