<main>
  <div class="container grid-container shopping-list">
    <!-- Replace or put in it content -->
    <div class="support-wrap shopping-list">
      <include src="./partials/support.html"></include>
    </div>
    <!-- Section for book content -->
    <section class="shoplist__list-section">
      <h1 class="bookcase__cda">
        Shopping <span class="bookcase__filter">list</span>
      </h1>
      <!-- List of books -->
      <ul class="shoplist__list"></ul>

      <div class="pagination shopping-list">
        <h2>PAGINATION</h2>
      </div>
    </section>
  </div>
</main>
