<ul class="shoplist__list">
  <li class="shoplist__item">
    <div class="book__container">
      <div class="book__img-container">
        <img class="book__img" src="images/book_mobile.jpg" alt="book-title" />
      </div>
      <p class="book__author">Harlan Coben</p>
      <div class="book-title">
        <h2 class="book-title__title">I will find you</h2>
        <h3 class="book-title__category">Hardcover fiction</h3>
      </div>
      <div class="book-links">
        <a
          href="https://www.amazon.com/b?node=283155"
          class="book-links__link js-amazon-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./images/book-modal/amazon@1x.png 1x,
                ./images/book-modal/amazon@2x.png 2x
              "
            />
            <img
              class="img"
              src="./images/book-modal/amazon@1x.png"
              alt="amazon"
              width="48"
            />
          </picture>
        </a>
        <a
          href="https://www.apple.com/ua/apple-books/"
          class="book-links__link"
          target="_blank"
          rel="noopener noreferrer"
          ><picture>
            <source
              srcset="
                ./images/book-modal/apple@1x.png 1x,
                ./images/book-modal/apple@2x.png 2x
              "
            />
            <img
              class="img"
              src="./images/book-modal/apple@1x.png"
              alt="apple"
              width="28"
            /> </picture
        ></a>
        <a
          href="https://bookshop.org/"
          class="book-links__link"
          target="_blank"
          rel="noopener noreferrer"
          ><picture>
            <source
              srcset="
                ./images/book-modal/book-shop@1x.png 1x,
                ./images/book-modal/book-shop@2x.png 2x
              "
            />
            <img
              class="img"
              src="./images/book-modal/book-shop@1x.png"
              alt="book-shop"
              width="32"
            /> </picture
        ></a>
      </div>
      <p class="book-overview">
        David Burroughs was once a devoted father to his three-year-old son
        Matthew, living a dream life just a short drive away from the
        working-class suburb where he and his wife, Cheryl, first fell in
        love--until one fateful night when David woke suddenly to discover
        Matthew had been murdered while David was asleep just down the hall.
      </p>
    </div>

    <button class="trash-btn" type="button">
      <svg class="trash-btn__icon" width="28" height="28">
        <use href="images/icons.svg#delete-book"></use>
      </svg>
    </button>
  </li>
</ul>
