<section class="">
   <div class="support_container">
      <h2 class="support_title">Support Ukraine<svg class="support_icon"
          width="20px" height="32px">
         <use href="/src/images/icons.svg#sup-trident"></use>
       </svg></h2>
      <ul class="support_list"></ul>
      <button type="button" class="support_btn">
         <svg class="support_btn__icon" width="20px" height="20px">
            <use href="/src/images/icons.svg#sup-arrow"></use>
          </svg>
      </button>
   </div>
</section>