  <div class="support_container">
    <h2 class="support_title">
      Support Ukraine
      <svg class="support_icon" width="20" height="32">
        <use href="/src/images/icons.svg#sup-trident"></use>
      </svg>
    </h2>

    <div class="swiper support-slider">
      <ul class="support_list swiper-wrapper"></ul>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next support_btn">
      <svg class="support_btn__icon" width="22" height="22">
        <use href="/src/images/icons.svg#sup-arrow"></use>
      </svg>
    </div>
  </div>

