<div class="authorization__bacdrop">
  <!-- elips -->
  <div class="elips"></div>
  <!-- modal -->
  <div class="authorization__modal">
    <!-- close btn -->
    <button class="authorization__button__close">a</button>
    <!-- form -->
    <form class="authorization__form">
      <!-- inputs -->
      <div class="authorization__field">
        <input
          type="text"
          name="name"
          class="authorization__input"
          id="user_name"
          required
        />
        <label class="authorization__label" for="user_name">name</label>
      </div>

      <div class="authorization__field">
        <input
          type="email"
          name="email"
          class="authorization__input"
          id="user_email"
          required
        />
        <label class="authorization__label" for="user_email">email</label>
      </div>

      <div class="authorization__field">
        <input
          type="password"
          name="password"
          class="authorization__input"
          id="user_password"
          required
        />
        <label class="authorization__label" for="user_password">password</label>
      </div>
      <!-- btn submit -->
      <button type="submit" class="authorization__btn__submit">Sign up</button>
    </form>
  </div>
</div>
