.categories {
  overflow-y: scroll;
}
.categories_name {
  letter-spacing: -0.02em;
  color: $categories-el-light;
  transition-property: color;
  transition-duration: var(--transition-time);

  &:hover,
  &:focus {
    font-weight: 700;
    color: $accent-color;
    text-transform: uppercase;
  }
}

.categories_active {
  font-weight: 700;
  color: $accent-color;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .categories {
    width: 335px;
    height: 228px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .categories_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .categories_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.13;
  }
}

/* 768px + */
@media screen and (min-width: 768px) {
  .categories {
    width: 327px;
    height: 472px;
  }

  .categories_list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .categories_name {
    font-size: 18px;
    line-height: 1.33;
  }
}

/* 1440 px + */
@media screen and (min-width: 768px) {
  .categories {
    width: 356px;
  }
}
