.categories {
  height: 228px;
  overflow-y: scroll;
  // added for responsive mobile to 375px
  width: 100%;

  // @media screen and (max-width: 767.98px) {
  //   max-width: 335px;
  // }

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }

  @media screen and (min-width: 1440px) {
    width: 356px;
  }
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.categories__name {
  line-height: calc(18 / 16);
  letter-spacing: -0.02em;
  color: $categories-el-light;
  @include transition(color);

  &:hover,
  &:focus {
    font-weight: 700;
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.categories__active {
  font-weight: 700;
  color: $accent-color;
  text-transform: uppercase;
}

.categories__item {
  &--fixed {
    position: sticky;
    top: 0;
    background: $primary-white;
  }
}

// custom scrollbar categories

.categories::-webkit-scrollbar{
  width: 8px;
  
}

.categories::-webkit-scrollbar-track{
  background-color: #f6f6f6;
}

.categories::-webkit-scrollbar-thumb{
background: linear-gradient(
  $accent-color 18.03%,
  #FFFFFF 100%);
border-radius: 16px;
border: 1px solid #f6f6f6;
}

.categories::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg,$accent-color 18.03%,
      #FFFFFF 100%);
}