.categories {
  height: 228px;
  overflow-y: scroll;
  // added for responsive mobile to 375px
  width: 100%;

  // @media screen and (max-width: 767.98px) {
  //   max-width: 335px;
  // }

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }

  @media screen and (min-width: 1440px) {
    width: 356px;
  }
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.categories__name {
  line-height: calc(18 / 16);
  letter-spacing: -0.02em;
  color: var(--categories-links-color);
  @include transition(color);

  &:hover,
  &:focus {
    font-weight: 700;
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.categories__active {
  font-weight: 700;
  color: var(--categories-links-active-color);
  text-transform: uppercase;
}

.categories__item {
  &--fixed {
    position: sticky;
    top: 0;
    background: $primary-white;
  }
}
