/* === STYLES FOR MAIN GRID === */
.grid-container {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 100%;
  outline: 1px solid blue;

  @include tablet {
    padding-bottom: 100px;
  }

  @include desktop {
    grid-template-columns: 356px 996px;
    column-gap: 40px;
  }
}

.bookcase {
  @include tablet {
    grid-column: 1 / 3;
  }

  @include desktop {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.support-wrap {
  @include desktop {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.categories-wrap,
.support-wrap,
.bookcase {
  width: 100%;
  height: 100%;
  outline: 1px solid green;
}
