.shopping-list {
  .tui-pagination {
    height: 38px;

    @media screen and (min-width: 768px) {
      height: 44px;
    }
    .tui-page-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      padding: 0;
      border-width: 1;

      &:not(:last-child) {
        margin-right: 8px;
      }

      @media screen and (min-width: 768px) {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    .tui-page-btn,
    .tui-first,
    .tui-prev,
    .tui-next,
    .tui-last,
    .tui-prev-is-ellip,
    .tui-next-is-ellip {
      width: 38px;
      height: 38px;
      border-color: $primary-black;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        width: 44px;
        height: 44px;
      }
    }
    // .tui-next-is-ellip,
    // .tui-first + .tui-prev,
    // .tui-next + .tui-last {
    //   border: 1px solid $primary-black;
    // }

    // .tui-is-selected,
    // .tui-first-child.tui-is-selected {
    //   background-color: $primary-black;
    //   color: $primary-white;
    //   &:hover,
    //   &:focus {
    //     background-color: $primary-black;
    //     color: $primary-white;
    //   }
    // }

    .tui-first-child.tui-is-selected {
      border: 1px solid var(--primary-text-color);
    }
    .tui-page-btn.tui-first,
    .tui-page-btn.tui-next {
      margin-right: 5px;
      @media screen and (min-width: 768px) {
        margin-right: 8px;
      }
    }
    .tui-page-btn.tui-prev,
    .tui-page-btn.tui-next-is-ellip {
      margin-right: 14px;
      @media screen and (min-width: 768px) {
        margin-right: 24px;
      }
    }
    .tui-next {
      margin-left: 0;
    }

    .tui-page-btn.tui-first,
    .tui-page-btn.tui-prev,
    .tui-page-btn.tui-next,
    .tui-page-btn.tui-last {
      background-color: $action-color;
      border: 1px solid $primary-black;
    }

    .tui-ico-prev,
    .tui-ico-next,
    .tui-ico-first,
    .tui-ico-last,
    .tui-ico-ellip {
      background: transparent;
    }

    .tui-page-btn,
    .tui-prev-is-ellip,
    .tui-next-is-ellip {
      position: relative;
      &:hover,
      &:focus {
        color: var(--header-bg-color);
        background-color: var(--primary-text-color);
      }

      &:hover::after,
      &:focus::after {
        color: var(--header-bg-color);
      }
    }

    .tui-prev-is-ellip::after,
    .tui-next-is-ellip::after {
      position: absolute;
      content: '...';
      width: 24px;
      height: 24px;
      color: var(--primary-text-color);
      left: 50%;
      transform: translateX(-50%);
    }

    // prev next
    .tui-prev {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.7098C10.5062 12.6169 10.4318 12.5063 10.381 12.3844C10.3303 12.2625 10.3041 12.1318 10.3041 11.9998C10.3041 11.8678 10.3303 11.7371 10.381 11.6153C10.4318 11.4934 10.5062 11.3828 10.5999 11.2898L15.1899 6.70982C15.2836 6.61686 15.358 6.50625 15.4088 6.3844C15.4596 6.26254 15.4857 6.13183 15.4857 5.99982C15.4857 5.86781 15.4596 5.7371 15.4088 5.61524C15.358 5.49338 15.2836 5.38278 15.1899 5.28982C15.0026 5.10357 14.7491 4.99902 14.4849 4.99902C14.2207 4.99902 13.9673 5.10357 13.7799 5.28982L9.18992 9.87982C8.62812 10.4423 8.31256 11.2048 8.31256 11.9998C8.31256 12.7948 8.62812 13.5573 9.18992 14.1198L13.7799 18.7098C13.9662 18.8946 14.2176 18.9987 14.4799 18.9998C14.6115 19.0006 14.742 18.9754 14.8638 18.9256C14.9857 18.8758 15.0965 18.8025 15.1899 18.7098C15.2836 18.6169 15.358 18.5063 15.4088 18.3844C15.4596 18.2626 15.4857 18.1319 15.4857 17.9998C15.4857 17.8678 15.4596 17.7371 15.4088 17.6153C15.358 17.4934 15.2836 17.3828 15.1899 17.2898L10.5999 12.7098Z' fill='%23B4AFAF'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
    }
    .tui-next {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.7098C10.5062 12.6169 10.4318 12.5063 10.381 12.3844C10.3303 12.2625 10.3041 12.1318 10.3041 11.9998C10.3041 11.8678 10.3303 11.7371 10.381 11.6153C10.4318 11.4934 10.5062 11.3828 10.5999 11.2898L15.1899 6.70982C15.2836 6.61686 15.358 6.50625 15.4088 6.3844C15.4596 6.26254 15.4857 6.13183 15.4857 5.99982C15.4857 5.86781 15.4596 5.7371 15.4088 5.61524C15.358 5.49338 15.2836 5.38278 15.1899 5.28982C15.0026 5.10357 14.7491 4.99902 14.4849 4.99902C14.2207 4.99902 13.9673 5.10357 13.7799 5.28982L9.18992 9.87982C8.62812 10.4423 8.31256 11.2048 8.31256 11.9998C8.31256 12.7948 8.62812 13.5573 9.18992 14.1198L13.7799 18.7098C13.9662 18.8946 14.2176 18.9987 14.4799 18.9998C14.6115 19.0006 14.742 18.9754 14.8638 18.9256C14.9857 18.8758 15.0965 18.8025 15.1899 18.7098C15.2836 18.6169 15.358 18.5063 15.4088 18.3844C15.4596 18.2626 15.4857 18.1319 15.4857 17.9998C15.4857 17.8678 15.4596 17.7371 15.4088 17.6153C15.358 17.4934 15.2836 17.3828 15.1899 17.2898L10.5999 12.7098Z' fill='%23B4AFAF'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }
    // first last
    .tui-first {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='31' height='24' viewBox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.71C10.5061 12.6171 10.4317 12.5065 10.381 12.3846C10.3302 12.2628 10.3041 12.132 10.3041 12C10.3041 11.868 10.3302 11.7373 10.381 11.6155C10.4317 11.4936 10.5061 11.383 10.5999 11.29L15.1899 6.71003C15.2836 6.61706 15.358 6.50646 15.4088 6.3846C15.4595 6.26274 15.4857 6.13204 15.4857 6.00002C15.4857 5.86801 15.4595 5.73731 15.4088 5.61545C15.358 5.49359 15.2836 5.38299 15.1899 5.29002C15.0025 5.10377 14.749 4.99923 14.4849 4.99923C14.2207 4.99923 13.9672 5.10377 13.7799 5.29002L9.18986 9.88003C8.62806 10.4425 8.3125 11.205 8.3125 12C8.3125 12.795 8.62806 13.5575 9.18986 14.12L13.7799 18.71C13.9661 18.8948 14.2175 18.9989 14.4799 19C14.6115 19.0008 14.7419 18.9756 14.8638 18.9258C14.9856 18.8761 15.0964 18.8027 15.1899 18.71C15.2836 18.6171 15.358 18.5065 15.4088 18.3846C15.4595 18.2628 15.4857 18.1321 15.4857 18C15.4857 17.868 15.4595 17.7373 15.4088 17.6155C15.358 17.4936 15.2836 17.383 15.1899 17.29L10.5999 12.71Z' fill='%23B4AFAF'/%3E%3Cpath d='M17.5999 12.71C17.5061 12.6171 17.4317 12.5065 17.381 12.3846C17.3302 12.2628 17.3041 12.132 17.3041 12C17.3041 11.868 17.3302 11.7373 17.381 11.6155C17.4317 11.4936 17.5061 11.383 17.5999 11.29L22.1899 6.71003C22.2836 6.61706 22.358 6.50646 22.4088 6.3846C22.4595 6.26274 22.4857 6.13204 22.4857 6.00002C22.4857 5.86801 22.4595 5.73731 22.4088 5.61545C22.358 5.49359 22.2836 5.38299 22.1899 5.29002C22.0025 5.10377 21.749 4.99923 21.4849 4.99923C21.2207 4.99923 20.9672 5.10377 20.7799 5.29002L16.1899 9.88003C15.6281 10.4425 15.3125 11.205 15.3125 12C15.3125 12.795 15.6281 13.5575 16.1899 14.12L20.7799 18.71C20.9661 18.8948 21.2175 18.9989 21.4799 19C21.6115 19.0008 21.7419 18.9756 21.8638 18.9258C21.9856 18.8761 22.0964 18.8027 22.1899 18.71C22.2836 18.6171 22.358 18.5065 22.4088 18.3846C22.4595 18.2628 22.4857 18.1321 22.4857 18C22.4857 17.868 22.4595 17.7373 22.4088 17.6155C22.358 17.4936 22.2836 17.383 22.1899 17.29L17.5999 12.71Z' fill='%23B4AFAF'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;

      @media screen and (max-width: 767.98px) {
        background-size: 28px 22px;
      }
    }
    .tui-last {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='31' height='24' viewBox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.71C10.5061 12.6171 10.4317 12.5065 10.381 12.3846C10.3302 12.2628 10.3041 12.132 10.3041 12C10.3041 11.868 10.3302 11.7373 10.381 11.6155C10.4317 11.4936 10.5061 11.383 10.5999 11.29L15.1899 6.71003C15.2836 6.61706 15.358 6.50646 15.4088 6.3846C15.4595 6.26274 15.4857 6.13204 15.4857 6.00002C15.4857 5.86801 15.4595 5.73731 15.4088 5.61545C15.358 5.49359 15.2836 5.38299 15.1899 5.29002C15.0025 5.10377 14.749 4.99923 14.4849 4.99923C14.2207 4.99923 13.9672 5.10377 13.7799 5.29002L9.18986 9.88003C8.62806 10.4425 8.3125 11.205 8.3125 12C8.3125 12.795 8.62806 13.5575 9.18986 14.12L13.7799 18.71C13.9661 18.8948 14.2175 18.9989 14.4799 19C14.6115 19.0008 14.7419 18.9756 14.8638 18.9258C14.9856 18.8761 15.0964 18.8027 15.1899 18.71C15.2836 18.6171 15.358 18.5065 15.4088 18.3846C15.4595 18.2628 15.4857 18.1321 15.4857 18C15.4857 17.868 15.4595 17.7373 15.4088 17.6155C15.358 17.4936 15.2836 17.383 15.1899 17.29L10.5999 12.71Z' fill='%23B4AFAF'/%3E%3Cpath d='M17.5999 12.71C17.5061 12.6171 17.4317 12.5065 17.381 12.3846C17.3302 12.2628 17.3041 12.132 17.3041 12C17.3041 11.868 17.3302 11.7373 17.381 11.6155C17.4317 11.4936 17.5061 11.383 17.5999 11.29L22.1899 6.71003C22.2836 6.61706 22.358 6.50646 22.4088 6.3846C22.4595 6.26274 22.4857 6.13204 22.4857 6.00002C22.4857 5.86801 22.4595 5.73731 22.4088 5.61545C22.358 5.49359 22.2836 5.38299 22.1899 5.29002C22.0025 5.10377 21.749 4.99923 21.4849 4.99923C21.2207 4.99923 20.9672 5.10377 20.7799 5.29002L16.1899 9.88003C15.6281 10.4425 15.3125 11.205 15.3125 12C15.3125 12.795 15.6281 13.5575 16.1899 14.12L20.7799 18.71C20.9661 18.8948 21.2175 18.9989 21.4799 19C21.6115 19.0008 21.7419 18.9756 21.8638 18.9258C21.9856 18.8761 22.0964 18.8027 22.1899 18.71C22.2836 18.6171 22.358 18.5065 22.4088 18.3846C22.4595 18.2628 22.4857 18.1321 22.4857 18C22.4857 17.868 22.4595 17.7373 22.4088 17.6155C22.358 17.4936 22.2836 17.383 22.1899 17.29L17.5999 12.71Z' fill='%23B4AFAF'/%3E%3C/svg%3E");

      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);

      @media screen and (max-width: 767.98px) {
        background-size: 28px 22px;
      }
    }

    .tui-prev-is-ellip,
    .tui-first-child,
    .tui-page-btn {
      border: 1px solid var(--primary-text-color);
      color: var(--primary-text-color);
    }
    // .tui-prev-is-ellip {
    //   border: 1px solid $primary-black;
    // }
    .tui-is-selected,
    .tui-first-child.tui-is-selected {
      background-color: var(--primary-text-color);
      color: var(--header-bg-color);
    }

    .tui-page-btn.tui-is-disabled {
      background-color: $primary-black;
    }
  }
}
