.pop-up__backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-book-color;
  overflow-y: auto;
  opacity: 1;
  @include transition(opacity);
}

.modal__pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 75vh;
  transform: translate(-50%, -50%);
  padding: 40px;
  max-width: 579px;
  overflow-y: scroll;

  border: 2px solid $header-color-dark;
  border-radius: $br-lg;
  background-color: $header-color-light;
  @include transition(transform);

  @media screen and (max-width: 767px) {
    padding: 24px 40px;
    max-width: 335px;
  }
}

.pop-up__button__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    top: 6px;
    right: 6px;
  }
}

.pop-up__icon-close {
  display: block;

  stroke: $primary-black;

  @media screen and (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}

.pop-up__icon-close:hover,
.pop-up__icon-close:focus {
  stroke: $accent-color;
  @include transition(stroke);
}

.pop-up__list {
  @include tablet {
    display: flex;
  }
}

.pop-up__list {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.book-card__container {
  @include tablet {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
}

.pop-up__img {
  border-radius: $br-5xs;

  @media screen and (max-width: 767px) {
    margin-bottom: 14px;
    max-width: 287px;
    height: 408px;
  }
}

.card__book-name {
  margin-bottom: 8px;
  @include fonts(24px, 28px, 700, -0.04em, false, $header-color-dark);

  @media screen and (max-width: 767px) {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

.card__book-author {
  margin-bottom: 20px;
  @include fonts(14px, 18px, 400, -0.04em, false, $author-color);
  font-style: italic;

  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.card__book-text {
  margin-bottom: 20px;
  height: 70px;
  @include fonts(14px, 18px, 400, -0.04em, false, $header-color-dark);

  @include tablet {
    overflow-y: scroll;
  }
  // overflow: auto;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
}

.card__book-text::-webkit-scrollbar {
  @include tablet {
    width: 0;
    height: 0;
  }
}

.book-shop__thumb {
  display: flex;
  gap: 20px;
  align-items: center;
}

.book-shop__link {
  mix-blend-mode: luminosity;

  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  &:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  }
}

.pop-up__add-btn {
  padding: 20px;
  @include fonts(18px, 24px, 700, -0.01em, uppercase, $header-color-dark);

  border: 2px solid $accent-color;
  border-radius: $br-21xl;

  @media screen and (max-width: 767px) {
    padding: 14px;
  }

  @include tablet {
    min-width: 499px;
  }
}

.btn__container {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.pop-up__add-btn:hover,
.pop-up__add-btn:focus {
  color: $primary-white;
  background: $accent-color;
}

.pop-up__remove-btn {
  padding: 20px;
  @include fonts(18px, 24px, 700, -0.01em, uppercase, $header-color-dark);

  border: 2px solid $accent-color;
  border-radius: $br-21xl;

  @media screen and (max-width: 767px) {
    padding: 14px 0;
    width: 279px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  @include tablet {
    min-width: 499px;
  }
}

.pop-up__remove-btn:hover,
.pop-up__remove-btn:focus {
  color: $primary-white;
  background: $accent-color;
}

.pop-up__description {
  margin: 0 auto;
  margin-top: 8px;
  @include fonts(12px, 14px, 400, -0.04em, false, $backdrop-book-desc-color);

  @media screen and (max-width: 767px) {
    font-size: 10px;
    line-height: calc(12 / 10);
    text-align: center;
  }

  @include tablet {
    width: 324px;
  }
}
