//SHOPPING LIST STYLES

.shoplist__list {
  display: grid;
  grid-gap: 20px;
  justify-items: center;

  margin-bottom: 40px;

  @include less-then-tablet {
    margin-bottom: 20px;
  }
}

.grid-container.shopping-list {
  padding: 40px 20px;
  display: grid;
  row-gap: 40px;

  grid-template-rows: none;

  outline: 1px solid blue;

  @include less-then-desktop {
    display: flex;
  }

  @include tablet {
    padding: 40px 32px;
    column-gap: 0;
  }

  @include desktop {
    grid-template-columns: 356px 996px;
    row-gap: 100px;
    column-gap: 40px;
    padding: 40px 24px;
  }
  & > section {
    outline: 1px solid green;
  }
}

.bookcase.shopping-list {
  display: grid;

  @include tablet {
    grid-column: 2;
  }

  @include desktop {
    grid-area: 3 / 2 / 1 / 2;
  }
}

.support-wrap.shopping-list {
  @include desktop {
    grid-area: auto;
  }

  @include less-then-desktop {
    display: none;
  }
}

.shoplist__list-section {
  width: 100%;
}

.shoplist__list.shopping-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin-bottom: 40px;

  @include less-then-tablet {
    margin-bottom: 20px;
  }
}

.shoplist__list-background {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 100px;
  }
}

.shoplist__list-background-text {
  width: 244px;
  color: var(--shopping-list-text-color);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;

  @include tablet {
    width: 349px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
}
