.shoplist__item {
  padding: 24px;
  position: relative;
  background: #ffffff;
  border: 2px solid #4f2ee866;
  border-radius: 16px;

  @media screen and (min-width: 375px) and (max-width: 768px) {
    padding: 20px;
  }
}
.book__img-container {
  max-width: 116px;
  max-height: 165px;
  margin-bottom: 4px;

  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: 375px) and (max-width: 768px) {
    max-width: 98px;
    max-height: 139px;
  }
}
.book__img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
.book__author {
  color: $author-color;

  font-style: italic;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
.book-title__title {
  color: $primary-black;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.book-title__category {
  color: $category-title-color;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.book-links {
  display: flex;
  align-items: center;
}
.book-links__link {
  mix-blend-mode: luminosity;

  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  &:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  }
}
.book-links__link:not(:last-child) {
  margin-right: 16px;

  @media screen and (min-width: 375px) and (max-width: 768px) {
    margin-right: 14px;
  }
}

.trash-btn {
  padding: 0;

  position: absolute;
  top: 24px;
  right: 24px;

  background-color: transparent;
  border: none;

  @media screen and (min-width: 375px) and (max-width: 768px) {
    top: 14px;
    right: 14px;
  }
}

.book-overview {
  color: $primary-black;

  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}
