@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: $font-main;
  background-color: var(--body-bg-color);
}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
