// SCROLL BAR FOR PAGES

body {
  /* width */
  &::-webkit-scrollbar {
    width: 24px;

    @include tablet {
      width: 36px;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--body-bg-color);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: $scroll-color-light;
    border: 8px solid var(--body-bg-color);

    @include tablet {
      border-radius: 18px;
      border: 13px solid var(--body-bg-color);
    }
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($scroll-color-light, 0.5);
  }
}
